<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="css/styles.css">

  </head>
  <body>
    <header id="mainHeader">
      <h1 id="headerTitle">Create New Account</h1>
    </header>
    <div class="container">
        <form action="/create" method="post">
          <div class="accountInfo">
            <input name="accountName" placeholder="Account name" class="accountName">
            <input name="username" placeholder="Username" class="username">
            <input name="password" placeholder="Password" type="password" class="password">
            <br>
          
            <h3>Or let us create a strong password for you!</h3>
            <input name="length" placeholder="Password length" type="number" class="accountInfo">
            <br>
            <label>Include symbols</label>
            <input type="checkbox" class="symbols" name="symbols" value="yes">
            
            <br>
            <label>Include numbers</label>
            <input type="checkbox" class="numbers" name="numbers" value="yes">
            <br>
            <label>Include lowercase characters</label>
            <input type="checkbox" class="lowercase" name="lowercase" value="yes">
            <br>
            <label>Include uppercase</label>
            <input type="checkbox" class="uppercase" name="uppercase" value="yes">
            <br>
            <button class="mainButton" type="submit">Submit</button>
          </div>
        </form>
    </div>

    
       
  </body>
</html>