<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>

  <body>
    <div class="create-container">
      <h1 class="header-title">Create New Account</h1>
      <form action="/create" method="post">
        <h3>Account Info</h3>
        <div class="account-info">
          <input autocomplete="off" name="accountName" placeholder="Account name" class="bottom-border-input">
          <input autocomplete="off" name="username" placeholder="Username" class="bottom-border-input">
          <input autocomplete="off" name="password" placeholder="Custom password" type="password" class="bottom-border-input">
          <br>
        </div>

        

          <div class="password-options">
            <h3>Dont want to make a custom password? Leave the custom password box blank and select your password options!</h3>
            <input autocomplete="off" name="length" placeholder="Password length" type="number" class="bottom-border-input">
            <br>
            <label>Include symbols</label>
            <input type="checkbox" class="symbols" name="symbols" value="yes">
            
            <br>
            <label>Include numbers</label>
            <input type="checkbox" class="numbers" name="numbers" value="yes">
            <br>
            <label>Include lowercase characters</label>
            <input type="checkbox" class="lowercase" name="lowercase" value="yes">
            <br>
            <label>Include uppercase</label>
            <input type="checkbox" class="uppercase" name="uppercase" value="yes">
            <br>
            <button class="main-button center" type="submit">Submit</button>
          </div>
      </form>
    </div>

    
       
  </body>
</html>