<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="css/styles.css">

  </head>
  <body>
    <header id="mainHeader">
      <h1>Update account info</h1>
    </header>
    <div class="container">
        <form action="/edit/update" method="post">
          <div class="editInfo">
            <label>Account:</label>
            <input name="accountName"  class="accountName" value=<%=account.accountName%>>
            <br>
            <label>Username:</label>
            <input name="username" class="username" value=<%=account.accountUsername%>>
            <br>
            <label>Password:</label>
            <input name="password" type="password" value=<%=account.accountPassword%> class="password">
            <input style="display: none;" name="id" value=<%=account._id%>>
            <br>
            <button class="mainButton" type="submit">Save</button>
          </div>  
        </form>
    </div>

    
       
  </body>
</html>