<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>

  <body>
    <div class="account-container">
      <h1 class="header-title">Login</h1>
      <form class="login" action="/login" method="post">
          <input autocomplete="off" name="username" placeholder="Username" type="text">
          <br>
          <input autocomplete="off" name="password" placeholder="Password" type="password">
          <br>
          <button class="main-button">Login</button>
      </form>
    </div>
    

    
       
  </body>
</html>