<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <header id="mainHeader">
      <h1 id="headerTitle">Login</h1>
    </header>
    <form class="login" action="/login" method="post">
        <input name="username" placeholder="Username" type="text">
        <br>
        <input name="password" placeholder="Password" type="password">
        <br>
        <button class="mainButton">Login</button>
    </form>

    
       
  </body>
</html>